.hero {
    background-image: url('asset/image/★☆★.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 30% 0;
    color: #ffffff; /* pink muda */
}
.project{
    color: palevioletred;
}